[submodule "firmware/zubax_chibios"]
	path = firmware/zubax_chibios
	url = https://github.com/Zubax/zubax_chibios
[submodule "bootloader/zubax_chibios"]
	path = bootloader/zubax_chibios
	url = https://github.com/Zubax/zubax_chibios
